<input class="tabelle-arrow" id="sortAsc" type="radio" name="column" value="asc" />
<label for="sortAsc" class="tabelle-arrow--asc"></label>

<input class="tabelle-arrow" id="sortDesc" type="radio" name="column" value="desc" />
<label for="sortDesc" class="tabelle-arrow--desc"></label>