<input class="arrow" id="sortAsc" type="radio" name="column" value="asc" />
<label for="sortAsc" class="asc"></label>

<input class="arrow" id="sortDesc" type="radio" name="column" value="desc" />
<label for="sortDesc" class="desc"></label>