<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/tabelle.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

<script src="{{ path '/polyfills.js' }}"></script>
<script src="{{ path '/tabelle.js' }}"></script>
</body>
</html>