<ta-belle id="tabelle" search-src="/components/preview/handle-empty--2" change-uri>
  <table class="tabelle">
    <thead>
      <tr>
        <th name="foo">Foo</th>
        <th name="bar">
          Bar
          <select name="bar" class="tabelle-input">
            <option>Boo</option>
            <option>Boroaoroaoa</option>
          </select>
        </th>
        <th name="baz">Baz</th>
      </tr>
    </thead>
  </table>
  <p>
    Sorry! We did not find any results for your specified queries!
  </p>
</ta-belle>