<div class="tabelle-header" role="group" aria-labelledby="{{name}}_group">
  <span class="header" id="{{name}}_group">{{label}}</span>
  {{> @tabelle-arrows }}
  {{#if select}}
    {{> @select}}
  {{else}}
    {{> @input}}
  {{/if}}
</div>