/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

@media (min-width: 740px) {
  body {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "nav main";
    grid-column-gap: 15px;
    min-height: 100vh;
  }
}
a {
  color: black;
  text-decoration: none;
}

a:hover,
a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 2rem;
}

#aiur-nav {
  border-right: 1px solid whitesmoke;
  grid-area: nav;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
#aiur-nav ul {
  list-style-type: none;
  padding-left: 0;
}
#aiur-nav li {
  list-style-type: none;
  padding-left: 1rem;
  white-space: nowrap;
}
#aiur-nav > ul > li {
  padding-left: 0;
}
#aiur-nav ul > :last-child {
  margin-bottom: 0.5rem;
}

main {
  grid-area: main;
  padding: 1.5rem;
}

main > :first-child,
nav > :first-child {
  margin-top: 0;
}

tabs-control {
  display: block;
  margin: 1.5rem 0 1rem;
}
tabs-control > [aria-selected] {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid transparent;
  border-radius: 2em;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  margin-right: 0.75rem;
  padding: 0.5em 1em;
}
tabs-control > [aria-selected=true] {
  background: whitesmoke;
  font-weight: bold;
  box-shadow: 2px 2px 0 0 silver;
}
tabs-control > [aria-selected=false] {
  background: transparent;
}

external-text pre {
  margin: 0;
  color: darkgoldenrod;
}

resize-handle {
  background: gainsboro;
  position: absolute;
  right: 0px;
  width: 3px;
  height: 100%;
  cursor: grab;
  top: 0;
}
resize-handle.dragging {
  cursor: grabbing;
  background: coral;
}
resize-handle:hover {
  background: coral;
}

.component-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.component-preview > * {
  margin-top: 1rem;
}

.component-preview-frame {
  flex-grow: 1;
  width: auto;
  border: 0;
}

.component-preview-pre-code,
.component-preview-post-code {
  padding: 0.5rem 0.75rem;
}

.aiur-status {
  background-color: transparent;
  border-radius: 0.64em;
  color: transparent;
  font-size: 0.75em;
  font-weight: 700;
  padding: 0.1em;
  padding-right: 0.4em;
  padding-left: 0.35em;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0.25em;
}

.aiur-status::before {
  border-radius: 50%;
  bottom: 0.06em;
  content: "";
  display: inline-block;
  height: 0.68em;
  position: relative;
  width: 0.68em;
  margin-right: 0.25em;
}

#aiur-doc .aiur-status-deprecated,
:hover > .aiur-status-deprecated,
.aiur-status-deprecated::before {
  background-color: darkslategray;
  color: white;
}

#aiur-doc .aiur-status-prototype,
:hover > .aiur-status-prototype,
.aiur-status-prototype::before {
  background-color: darkred;
  color: white;
}

#aiur-doc .aiur-status-wip,
:hover > .aiur-status-wip,
.aiur-status-wip::before {
  background-color: coral;
  color: white;
}

#aiur-doc .aiur-status-ready,
#aiur-doc .aiur-status-ready::before,
:hover > .aiur-status-ready,
:hover > .aiur-status-ready::before {
  background-color: springgreen;
  color: black;
}

#aiur-doc .aiur-status-deprecated::before,
:hover > .aiur-status-deprecated::before,
#aiur-doc .aiur-status-prototype::before,
:hover > .aiur-status-prototype::before,
#aiur-doc .aiur-status-wip::before,
:hover > .aiur-status-wip::before {
  background-color: white;
}

#aiur-doc .aiur-status-ready::before,
:hover > .aiur-status-ready::before {
  background-color: black;
}

.aiur-doc-meta {
  border-bottom: 1px solid whitesmoke;
  color: silver;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  padding-bottom: 0.75rem;
}
.aiur-doc-meta:hover {
  color: black;
}

/* aiur-doc markdown */
#aiur #aiur-doc h2,
#aiur #aiur-doc h3,
#aiur #aiur-doc h4,
#aiur #aiur-doc h5,
#aiur #aiur-doc h6 {
  max-width: 68ch;
}
#aiur #aiur-doc h1 {
  font-size: 2.75rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
#aiur #aiur-doc p {
  max-width: 68ch;
}
#aiur #aiur-doc a {
  color: royalblue;
}
#aiur #aiur-doc code {
  background-color: linen;
  border-radius: 0.33em;
  padding: 0.15em 0.4em;
}
#aiur #aiur-doc pre > code {
  display: block;
}
