<ta-belle id="tabelle" search-src="/components/preview/handle-empty--3" change-uri>
  <table class="tabelle">
    <thead>
      <tr>
        <th name="foo">Foo</th>
        <th name="bar">
          Bar
          <select name="bar" class="tabelle-input">
            <option>Boo</option>
            <option>Boroaoroaoa</option>
          </select>
        </th>
        <th name="baz">Baz</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>2</td><td>3</td><td>4</td></tr>
      <tr><td>3</td><td>4</td><td>5</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
      <tr><td>5</td><td>6</td><td>7</td></tr>
      <tr><td>6</td><td>7</td><td>8</td></tr>
      <tr><td>8</td><td>9</td><td>1</td></tr>
      <tr><td>9</td><td>1</td><td>2</td></tr>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>2</td><td>3</td><td>4</td></tr>
      <tr><td>3</td><td>4</td><td>5</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
      <tr><td>5</td><td>6</td><td>7</td></tr>
      <tr><td>6</td><td>7</td><td>8</td></tr>
      <tr><td>8</td><td>9</td><td>1</td></tr>
      <tr><td>9</td><td>1</td><td>2</td></tr>
      <tr><td>1</td><td>2</td><td>3</td></tr>
      <tr><td>2</td><td>3</td><td>4</td></tr>
      <tr><td>3</td><td>4</td><td>5</td></tr>
      <tr><td>4</td><td>5</td><td>6</td></tr>
      <tr><td>5</td><td>6</td><td>7</td></tr>
      <tr><td>6</td><td>7</td><td>8</td></tr>
      <tr><td>8</td><td>9</td><td>1</td></tr>
      <tr><td>9</td><td>1</td><td>2</td></tr>
    </tbody>
  </table>
</ta-belle>